<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <title>الصفحة الثانية</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="outer-box"></div>
    <div class="inner-box">
        <h1>المصلحة البيومترية</h1>
    </div>
    <div class="choices-container">
        <div class="grid-container">
            <button class="grid-item" onclick="location.href='/carte_natio'">مكتب جواز السفر</button>
            <button class="grid-item" onclick="location.href='/carte_natio'">مكتب بطاقة التعريف الوطنية</button>
            <button class="grid-item">مكتب رخصة السياقة</button>
            <button class="grid-item">مكتب تسجيل المركبات</button>
            <button class="grid-item">أمانة المصلحة</button>
            <button class="grid-item">الاعدادات</button>
        </div>
    </div>
</body>
</html>
